@using BMS.Entity
@using BMS.Web.Models
@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" title="User : @User.Identity.GetUserName(), Company : @(((BMS.Entity.BMSMaster.Entity) Session[Key.Entity])?.Name)">
                   Hello <i class="fa fa-user-circle-o"></i> @User.Identity.GetUserName() of <b style="font-size: 125%; "><i class="fa fa-building-o"></i> @(((BMS.Entity.BMSMaster.Entity)Session[Key.Entity])?.Name)</b>
                </a>
                @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
            </li>
            @if (User.IsInEntityRole(Role.SAdmin, 1))
            {
                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
            }
            <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i> Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
