@model BMS.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<style>
    .retroshadow {
        font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
        font-size: 35px;
        text-align: center;
        text-transform: uppercase;
        text-rendering: optimizeLegibility;
        text-shadow: 2px 2px 0px #d5d5d5, 3px 3px 0px rgba(0, 0, 0, 0.2);
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div id="loginForm" class="col-md-offset-3 col-md-6">
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4 class="retroshadow">Change Password</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @*@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })*@
                        @Html.Kendo().TextBoxFor(x => x.OldPassword).HtmlAttributes(new { type = "password", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @*@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })*@
                        @Html.Kendo().TextBoxFor(x => x.NewPassword).HtmlAttributes(new { type = "password", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @*@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })*@
                        @Html.Kendo().TextBoxFor(x => x.ConfirmPassword).HtmlAttributes(new { type = "password", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <input type="submit" value="Change password" class="k-button" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
