@model BMS.Entity.BMSTenant.BillHeader

<table id="header" style="width: 100%">
    <tr>
        <td>
            <input id="BillHeaderId" type="hidden" value="@Convert.ToInt64(Model?.Id)"/>
            <label for="BillNo">Bill No</label>
        </td>
        <td>
            @Html.Kendo().TextBoxFor(x => x.BillNo)
        </td>
        <td>
            <label for="BillingDate">Date</label>
        </td>
        <td>
            @(Html.Kendo().DatePickerFor(x => x.BillingDate).Value(DateTime.UtcNow))
        </td>
        <td>
            <label for="AreaId">Area</label>
        </td>
        <td>
            @(Html.Kendo().DropDownListFor(x => x.AreaId)
                  .DataValueField("Id")
                  .DataTextField("ShortName")
                  .OptionLabel(" ")
                  .DataSource(s =>
                      s.Read(r => r.Url(Url.HttpRouteUrl("ActionApi", new {controller = "Areas", action = "GetAll"})))
                  ))
        </td>
        <td>
            <label for="CustomerId">Customer</label>
        </td>
        <td>
            @(Html.Kendo().DropDownListFor(x => x.CustomerId)
                  .DataValueField("Id")
                  .DataTextField("ShortName")
                  .CascadeFrom("AreaId")
                  .CascadeFromField("AreaId")
                  .Filter(FilterType.Contains)
                  .AutoBind(false)
                  .DataSource(s =>
                      s.Read(r => r.Url(Url.HttpRouteUrl("ActionApi", new {controller = "Customers", action = "GetAll"})))
                  ))
        </td>
    </tr>
    <tr>
        <td>
            <label for="Discount">Discount</label>
        </td>
        <td>
            @(Html.Kendo().NumericTextBoxFor<decimal>(x=>x.Discount)
                .Format("p0")
                .Min(0)
                .Max(1)
                .Step(0.01M)
                .Placeholder("0")
                .Spinners(false))
        </td>
        <td>
            <label for="Deduction">Deduction</label>
        </td>
        <td>
            @(Html.Kendo().NumericTextBoxFor(x=>x.Deduction).Format("#")
                .Min(0).Placeholder("0.00").Spinners(false).Decimals(2).Format(""))
        </td>
        <td>
            <label for="PaidAmount">Paid</label>
        </td>
        <td>
            @Html.Kendo().NumericTextBoxFor(x => x.PaidAmount).Value(0).Decimals(2).Spinners(false)
        </td>
        <td>
            <label for="VehicleId">Vehicle</label>
        </td>
        <td>
            @(Html.Kendo().DropDownListFor(x => x.VehicleId)
                  .DataValueField("Id")
                  .DataTextField("No")
                  .DataSource(s =>
                      s.Read(r => r.Url(Url.HttpRouteUrl("ActionApi", new {controller = "Vehicles", action = "GetAll"})))
                  ))
        </td>
    </tr>
</table>