@using BMS.Entity
@using BMS.Reporting
@using BMS.Resource
@using BMS.Web.Models
@using Microsoft.Ajax.Utilities

@{
    ViewBag.Title = Resource.Daily_Bill_Summary;
    var entity = User.GetSelectedEntity(Convert.ToInt32(Request.Cookies[Key.Entity]?.Value));
}

<script src="@Url.Content("~/ReportViewer/js/telerikReportViewer-12.0.18.125.min.js")"></script>

<div id="report-filters" class="container-fluid">
    <div class="row">
        <label class="col-md-1">Date </label>
        <div class="col-md-2">
            @Html.Kendo().DatePicker().Name("dpBillDate").Max(DateTime.Today).Value(DateTime.Today.AddDays(-1)).Events(e => e.Change("refreshViewer")).Deferred()
        </div>
        <label class="col-md-1">Vehicle </label>
        <div class="col-md-4">
            @(Html.Kendo().DropDownList().Name("ddVehicle")
                  .OptionLabel("Select Here...")
                  .DataValueField("Id")
                  .DataTextField("No")
                  .DataSource(s => s
                      .Read(r =>
                      {
                          r.Url(Url.HttpRouteUrl("ActionApi", new { controller = "Vehicles", action = "GetAll" }));
                      }))
                  .Events(e => e.Change("refreshViewer")).Deferred()
            )
        </div>
    </div>
</div>

<div id="reportViewer">
    <img style="margin: auto" src="~/Content/kendo/BlueOpal/loading-image.gif" />
</div>

@Html.Kendo().DeferredScripts()

@{

    var typeReportSource = new TypeReportSource() { TypeName = typeof(DailyBillSummary).AssemblyQualifiedName };
    typeReportSource.Parameters.Add("CompanyName", entity.Name);
    typeReportSource.Parameters.Add("VehicleNo", null);
    typeReportSource.Parameters.Add("BillDate", DateTime.Today);
    typeReportSource.Parameters.Add("VehicleId", null);
}

@(Html.TelerikReporting().ReportViewer()
          .Id("reportViewer")
          .ServiceUrl(Url.HttpRouteUrl("DefaultApi", new { controller = "Reports" }))
          .ReportSource(typeReportSource)
          .ViewMode(ViewMode.Interactive)
          .ScaleMode(ScaleMode.Specific)
          .Scale(1.0)
          .PersistSession(false)
          .PrintMode(PrintMode.AutoSelect)
          .EnableAccessibility(false)
          .ClientEvents(e => e.Error("function () { notify('Something went Wrong', 'warning');}"))
          .Deferred()
)

@Html.TelerikReporting().DeferredScripts()

<script>
    var refreshViewer = function () {
        var viewer = $("#reportViewer").data("telerik_ReportViewer");

        viewer.reportSource({
            report: viewer.reportSource().report,
            parameters: {
                VehicleId: $('#ddVehicle').data('kendoDropDownList').value(),
                BillDate: $('#dpBillDate').val(),
                VehicleNo: $('#ddVehicle').data('kendoDropDownList').text(),
                CompanyName: '@entity.Name'
            }
        }).refreshReport();
    };

</script>